[Unit]
Description=authlog_exporter

[Service]
Type=simple
Environment="ARGS=--auth.log=/var/log/auth.log --web.endpoint=/metrics --web.listen-address=:9991"
EnvironmentFile=-/etc/default/authlog_exporter
ExecStart=/usr/bin/authlog_exporter $ARGS
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target 