[Unit]
Description=auth_exporter

[Service]
Type=simple
Environment="AUTH_LOG_PATH=/var/log/auth.log"
Environment="ENDPOINT=/metrics"
Environment="PORT=9991"
ExecStart=/Users/woblerr/git/my_github/woblerr/prom_authlog_exporter/auth_exporter --auth.log=${AUTH_LOG_PATH} --prom.endpoint=${ENDPOINT} --prom.port=${PORT}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target 