[Unit]
Description=authlog_exporter

[Service]
Type=simple
Environment="AUTH_LOG_PATH=/var/log/auth.log"
Environment="ENDPOINT=/metrics"
Environment="PORT=9991"
ExecStart={PATH_TO_FILE}/authlog_exporter --auth.log=${AUTH_LOG_PATH} --prom.endpoint=${ENDPOINT} --prom.port=${PORT}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target 